In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [21]:
imdb = pd.read_csv('movie_bd_v5.csv')
imdb['profit'] = imdb.revenue - imdb.budget
imdb.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1338,tt0378109,50000000,44434439,Into the Blue,Paul Walker|Jessica Alba|Scott Caan|Ashley Sco...,John Stockwell,Treasure Has Its Price.,Red-hot action superstars Paul Walker and Jess...,110,Action|Thriller|Adventure|Crime,Columbia Pictures Corporation|Mandalay Picture...,9/30/2005,5.9,2005,-5565561
936,tt0253556,60000000,43061982,Reign of Fire,Christian Bale|Matthew McConaughey|Izabella Sc...,Rob Bowman,Fight Fire With Fire,"In post-apocalyptic England, an American volun...",101,Action|Fantasy|Science Fiction|Thriller,The Zanuck Company|Spyglass Entertainment|Worl...,7/12/2002,5.9,2002,-16938018
1737,tt0425413,10000000,33000000,Run Fatboy Run,Simon Pegg|Thandie Newton|Hank Azaria|Dylan Mo...,David Schwimmer,Love. Commitment. Responsibility. There's noth...,Five years after jilting his pregnant fiancÃ©e...,100,Comedy|Romance,Entertainment Films|Material Entertainment|Bee...,9/6/2007,6.2,2007,23000000
273,tt1121931,20000000,34560577,Crank: High Voltage,Jason Statham|Amy Smart|Dwight Yoakam|Efren Ra...,Mark Neveldine|Brian Taylor,"Stay Charged, Stay Alive!",Chelios faces a Chinese mobster who has stolen...,96,Action|Thriller|Crime,Lakeshore Entertainment|Lionsgate|Radical Media,4/16/2009,5.9,2009,14560577
350,tt1078588,30000000,95714875,My Sister's Keeper,Cameron Diaz|Alec Baldwin|Abigail Breslin|Joan...,Nick Cassavetes,Based on the Best Selling Novel,Sara and Brian live an idyllic life with their...,109,Drama,Mark Johnson Productions|Gran Via Productions|...,6/26/2009,7.0,2009,65714875

In [20]:
imdb.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [6]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [9]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [13]:
# тут пишем ваш код для решения данного вопроса:
imdb=pd.read_csv(r'movie_bd_v5.csv')
imdb[imdb.budget==imdb.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [39]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'
# +

In [14]:
imdb[imdb.runtime==imdb.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [40]:
answers['3'] = 'Winnie the Pooh (tt1449283)'
# +

In [15]:
imdb[imdb.runtime==imdb.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [41]:
answers['4'] = '110'
# +

In [16]:
imdb.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [42]:
answers['5'] = '107'
# +

In [17]:
imdb.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [43]:
answers['6'] = 'Avatar (tt0499549)'
# +

In [22]:
# лучше код получения столбца profit вынести в Предобработку что в начале
# Вариант 1 
imdb[imdb.profit==imdb.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

In [33]:
# Вариант 2 
imdb.sort_values(['profit'],ascending=False)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
970,tt0848228,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012,1299557910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1464,tt0424095,149000000,64459316,Flushed Away,Hugh Jackman|Kate Winslet|Ian McKellen|Jean Re...,David Bowers|Sam Fell,Someone's Going Down,"London high-society mouse, Roddy is flushed do...",85,Adventure|Animation|Comedy|Family,Aardman Animations|DreamWorks Animation,10/22/2006,6.0,2006,-84540684
958,tt0180052,100000000,7103973,The Adventures of Pluto Nash,Eddie Murphy|Randy Quaid|Rosario Dawson|Joe Pa...,Ron Underwood,Action's future has arrived...,"The year is 2087, the setting is the moon. Edd...",95,Action|Comedy|Science Fiction,Village Roadshow Pictures|Castle Rock Entertai...,8/15/2002,4.6,2002,-92896027
809,tt1305591,150000000,38992758,Mars Needs Moms,Seth Green|Joan Cusack|Dan Fogler|Breckin Meye...,Simon Wells,Mom needs a little space.,"When Martians suddenly abduct his mom, mischie...",88,Adventure|Animation|Family,Walt Disney Animation Studios,3/9/2011,5.5,2011,-111007242
1616,tt0318974,145000000,25819961,The Alamo,Dennis Quaid|Billy Bob Thornton|Jason Patric|P...,John Lee Hancock,You will never forget,Based on the 1836 standoff between a group of ...,137,Western|History|War,Imagine Entertainment|Touchstone Pictures,4/7/2004,5.9,2004,-119180039
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 7. Какой фильм самый убыточный?

In [44]:
answers['7'] = 'The Lone Ranger (tt1210819)'
# +

In [69]:
# Вариант 1 
imdb.sort_values(['profit'])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090
1616,tt0318974,145000000,25819961,The Alamo,Dennis Quaid|Billy Bob Thornton|Jason Patric|P...,John Lee Hancock,You will never forget,Based on the 1836 standoff between a group of ...,137,Western|History|War,Imagine Entertainment|Touchstone Pictures,4/7/2004,5.9,2004,-119180039
809,tt1305591,150000000,38992758,Mars Needs Moms,Seth Green|Joan Cusack|Dan Fogler|Breckin Meye...,Simon Wells,Mom needs a little space.,"When Martians suddenly abduct his mom, mischie...",88,Adventure|Animation|Family,Walt Disney Animation Studios,3/9/2011,5.5,2011,-111007242
958,tt0180052,100000000,7103973,The Adventures of Pluto Nash,Eddie Murphy|Randy Quaid|Rosario Dawson|Joe Pa...,Ron Underwood,Action's future has arrived...,"The year is 2087, the setting is the moon. Edd...",95,Action|Comedy|Science Fiction,Village Roadshow Pictures|Castle Rock Entertai...,8/15/2002,4.6,2002,-92896027
1464,tt0424095,149000000,64459316,Flushed Away,Hugh Jackman|Kate Winslet|Ian McKellen|Jean Re...,David Bowers|Sam Fell,Someone's Going Down,"London high-society mouse, Roddy is flushed do...",85,Adventure|Animation|Comedy|Family,Aardman Animations|DreamWorks Animation,10/22/2006,6.0,2006,-84540684
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,tt0848228,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012,1299557910
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

In [70]:
# Вариант 2 
imdb[imdb.profit==imdb.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [45]:
answers['8'] = '1478'
# +

In [71]:
imdb[imdb.profit>0].count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [46]:
answers['9'] = 'The Dark Knight (tt0468569)'
# +

In [75]:
# Вариант 1 
p=imdb[imdb.release_year==2008].profit.max()
display(p)
imdb[imdb.profit==816921825]

816921825

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

In [76]:
# Вариант 2 
imdb_2008=imdb[imdb.release_year==2008]
imdb_2008.sort_values(['profit'],ascending=False)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825
603,tt0367882,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Lucasfilm|Paramount Pictures,5/21/2008,5.6,2008,601636033
607,tt0795421,52000000,609841637,Mamma Mia!,Meryl Streep|Pierce Brosnan|Amanda Seyfried|Co...,Phyllida Lloyd,Take a trip down the aisle you'll never forget,"Set on an idyllic Greek island, the plot serve...",108,Comedy|Romance,Universal Pictures|Internationale Filmprodukti...,6/30/2008,6.2,2008,557841637
606,tt0441773,130000000,631744560,Kung Fu Panda,Jack Black|Dustin Hoffman|Angelina Jolie|Jacki...,Mark Osborne|John Stevenson,Prepare for awesomeness.,"When the Valley of Peace is threatened, lazy P...",90,Animation|Family,DreamWorks Animation,6/4/2008,6.8,2008,501744560
621,tt0448157,150000000,624029371,Hancock,Will Smith|Charlize Theron|Jason Bateman|Jae H...,Peter Berg,Bad Behavior. Bad Attitude. Real Hero.,Hancock is a down-and-out superhero who's forc...,92,Fantasy|Action,Columbia Pictures|Weed Road Pictures|Forward P...,7/1/2008,6.0,2008,474029371
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668,tt0811080,120000000,93945766,Speed Racer,Emile Hirsch|Christina Ricci|Matthew Fox|Susan...,Lana Wachowski|Lilly Wachowski,Go!,Speed Racer is the tale of a young and brillia...,135,Family|Action|Science Fiction,Village Roadshow Pictures|Studio Babelsberg|An...,5/9/2008,5.6,2008,-26054234
705,tt0469903,40000000,9793496,The Express,Rob Brown|Dennis Quaid|Darrin Henson|Charles S...,Gary Fleder,He changed our country... one yard at a time.,"Based on the incredible true story, The Expres...",130,Drama,Davis Entertainment|Relativity Media|IDEA Film...,10/10/2008,7.1,2008,-30206504
682,tt0970411,55000000,17869048,City of Ember,Saoirse Ronan|Harry Treadaway|Mary Kay Place|B...,Gil Kenan,Escape is the only option,"For generations, the people of the City of Emb...",90,Adventure|Family|Fantasy,Playtone|Walden Media,10/7/2008,6.1,2008,-37130952
679,tt0462465,50000000,7033683,Outlander,Jim Caviezel|Sophia Myles|Jack Huston|Ron Perl...,Howard McCain,It destroyed his world. He won't let it destro...,"During the reign of the Vikings, a man from an...",115,Fantasy|Action|Science Fiction,Ascendant Pictures|Rising Star|VIP Medienfonds...,4/24/2008,6.0,2008,-42966317
636,tt0455824,130000000,49554002,Australia,Nicole Kidman|Hugh Jackman|Essie Davis|David W...,Baz Luhrmann,Welcome to Australia!,"Set in northern Australia before World War II,...",165,Drama,Bazmark Films|Ingenious Film Partners|Twentiet...,11/18/2008,6.3,2008,-80445998

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [47]:
answers['10'] = 'The Lone Ranger (tt1210819)'
# +

In [77]:
imdb_1214=imdb[(imdb.release_year>=2012)&(imdb.release_year<=2014)]
imdb_1214.sort_values(['profit'])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090
1214,tt0790736,130000000,61648500,R.I.P.D.,Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephan...,Robert Schwentke,To protect and serve the living,A recently slain cop joins a team of undead po...,96,Fantasy|Action|Comedy|Crime,Universal Pictures|Original Film|Dark Horse En...,7/18/2013,5.3,2013,-68351500
1007,tt1374992,60000000,8106475,Upside Down,Kirsten Dunst|Jim Sturgess|Timothy Spall|James...,Juan Diego Solanas,Two worlds. One future.,In an alternate universe where twinned worlds ...,104,Romance|Science Fiction|Drama|Fantasy,Onyx Films|Studio 37|Jouror Productions|France...,9/27/2012,6.1,2012,-51893525
1302,tt0884726,70000000,18662027,Legends of Oz: Dorothy's Return,Lea Michele|Dan Aykroyd|Patrick Stewart|Hugh D...,Dan St. Pierre,There's trouble in OZ...,"Dorothy wakes up in post-tornado Kansas, only ...",88,Animation|Music|Family,Prana Animation Studios|Summertime Entertainment,6/13/2013,6.1,2013,-51337973
1235,tt1308729,55000000,9489829,Bullet to the Head,Sylvester Stallone|Sung Kang|Sarah Shahi|Adewa...,Walter Hill,Revenge Never Gets Old.,"After watching their respective partners die, ...",92,Action|Crime|Thriller,Dark Castle Entertainment|After Dark Films|IM ...,1/31/2013,5.2,2013,-45510171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1189,tt1690953,76000000,970761885,Despicable Me 2,Steve Carell|Kristen Wiig|Benjamin Bratt|Miran...,Pierre Coffin|Chris Renaud,Back 2 Work,Gru is recruited by the Anti-Villain League to...,98,Animation|Comedy|Family,Universal Pictures|Illumination Entertainment,6/25/2013,7.0,2013,894761885
974,tt1074638,200000000,1108561013,Skyfall,Daniel Craig|Judi Dench|Javier Bardem|Ralph Fi...,Sam Mendes,Think on your sins.,When Bond's latest assignment goes gravely wro...,143,Action|Adventure|Thriller,Columbia Pictures,10/25/2012,6.8,2012,908561013
1180,tt1300854,200000000,1215439994,Iron Man 3,Robert Downey Jr.|Gwyneth Paltrow|Guy Pearce|D...,Shane Black,Unleash the power behind the armor.,When Tony Stark's world is torn apart by a for...,130,Action|Adventure|Science Fiction,Marvel Studios,4/18/2013,6.9,2013,1015439994
1177,tt2294629,150000000,1274219009,Frozen,Kristen Bell|Idina Menzel|Jonathan Groff|Josh ...,Chris Buck|Jennifer Lee,Only the act of true love will thaw a frozen h...,Young princess Anna of Arendelle dreams about ...,102,Animation|Adventure|Family,Walt Disney Pictures|Walt Disney Animation Stu...,11/27/2013,7.5,2013,1124219009
970,tt0848228,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012,1299557910

# 11. Какого жанра фильмов больше всего?

In [48]:
answers['11'] = 'Drama'
# +

In [78]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
imdb_g=imdb.copy()
imdb_g['genres']=imdb_g['genres'].str.split('|')
imdb_g=imdb_g.explode('genres')
imdb_g.genres.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [49]:
answers['12'] = 'Drama'
# +

In [79]:
imdb_g[imdb_g.profit>0].genres.value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [50]:
answers['13'] = 'Peter Jackson'
# +

In [80]:
directors=imdb.groupby(['director']).sum().sort_values(['revenue'],ascending=False).head(20)
directors

,budget,revenue,runtime,vote_average,release_year,profit
director,,,,,,
Peter Jackson,1288000000,6490593685,1355,58.1,16059,5202593685
Christopher Nolan,1005000000,4167548502,1135,61.1,16057,3162548502
David Yates,775000000,4154295625,567,29.6,8037,3379295625
Michael Bay,1126000000,3886938960,1209,50.0,16063,2760938960
J.J. Abrams,740000000,3579169916,633,35.1,10054,2839169916
Gore Verbinski,1155000000,3426362290,1058,51.2,16048,2271362290
Steven Spielberg,937000000,3386700791,1356,66.9,20064,2449700791
Ridley Scott,1220000000,3264035909,1652,78.1,24092,2044035909
Francis Lawrence,703000000,3179979588,747,40.5,12065,2476979588
Sam Raimi,837000000,3091066354,727,36.7,12035,2254066354
Joss Whedon,500000000,2924593677,284,14.7,4027,2424593677
James Cameron,250000000,2798546718,254,13.8,4012,2548546718
Tim Burton,769000000,2493468396,888,51.4,16064,1724468396
Chris Columbus,448000000,2354968952,671,32.7,10033,1906968952
Sam Mendes,632000000,2342352791,652,33.0,10042,1710352791
Shawn Levy,702800000,2218587063,1037,60.0,20085,1515787063
Ron Howard,754000000,2133257991,1026,52.6,16060,1379257991
Steven Soderbergh,624000000,2074928588,1490,81.5,26090,1450928588
Roland Emmerich,690000000,2000587076,687,30.0,10034,1310587076
Justin Lin,481000000,1953947074,579,32.0,10045,1472947074

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [51]:
answers['14'] = 'Robert Rodriguez'
# +

In [81]:
act=imdb[imdb.genres.str.contains('Action')].copy()
act['director']=act['director'].str.split('|')
act=act.explode('director')
act.director.value_counts()

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Brian Helgeland       1
Ericson Core          1
Phil Joanou           1
Chris Columbus        1
Steven Brill          1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [52]:
answers['15'] = 'Chris Hemsworth'
# +

In [82]:
imdb_2012=imdb[imdb.release_year==2012].copy()
imdb_2012['cast']=imdb_2012['cast'].str.split('|')
imdb_2012=imdb_2012.explode('cast')
imdb_2012.groupby(['cast']).sum().sort_values(['revenue'],ascending=False)

,budget,revenue,runtime,vote_average,release_year,profit
cast,,,,,,
Chris Hemsworth,485000000,2027450773,458,24.8,8048,1542450773
Denis Leary,310000000,1629460639,224,12.6,4024,1319460639
Anne Hathaway,311000000,1522851057,322,14.5,4024,1211851057
Robert Downey Jr.,220000000,1519557910,143,7.3,2012,1299557910
Mark Ruffalo,220000000,1519557910,143,7.3,2012,1299557910
...,...,...,...,...,...,...
Michael Nyqvist,10000000,3428048,115,6.7,2012,-6571952
Danny Huston,35000000,2106557,96,5.1,2012,-32893443
Josh Lucas,35000000,2106557,96,5.1,2012,-32893443
Sami Gayle,35000000,2106557,96,5.1,2012,-32893443
Nicolas Cage,35000000,2106557,96,5.1,2012,-32893443

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [53]:
answers['16'] = 'Matt Damon'
# +

In [83]:
imdb_mean=imdb[imdb.budget>imdb.budget.mean()].copy()
imdb_mean['cast']=imdb_mean['cast'].str.split('|')
imdb_mean=imdb_mean.explode('cast')
imdb_mean.groupby(['cast'])['original_title'].count().sort_values(ascending=False)

cast
Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Leslie Bibb           1
Leonard Nimoy         1
Lennie James          1
Lena Olin             1
50 Cent               1
Name: original_title, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [54]:
answers['17'] = 'Action'
# +

In [84]:
nic=imdb[imdb.cast.str.contains('Nicolas Cage')].copy()
nic['genres']=nic['genres'].str.split('|')
nic=nic.explode('genres')
nic.genres.value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Animation           3
Family              3
History             2
Romance             1
War                 1
Horror              1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [55]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'
# +

In [89]:
# Вариант 1
pr=imdb[imdb.production_companies.str.contains('Paramount Pictures')].profit.min()
display(pr)
imdb[imdb.profit==-64831034]

-64831034

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

In [90]:
# Вариант 2
imdb[imdb.production_companies.str.contains('Paramount Pictures')].sort_values(['profit'])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034
1123,tt0300556,80000000,19480739,Timeline,Paul Walker|Frances O'Connor|Gerard Butler|Bil...,Richard Donner,They had to travel into the past to save the f...,A group of archaeological students become trap...,116,Action|Adventure|Science Fiction,Paramount Pictures|Donners' Company|Mutual Fil...,11/26/2003,5.1,2003,-60519261
1722,tt0435705,70000000,18211013,Next,Nicolas Cage|Julianne Moore|Jessica Biel|Thoma...,Lee Tamahori,"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,Action|Science Fiction|Thriller,Paramount Pictures|Virtual Studios|Revolution ...,4/24/2007,5.9,2007,-51788987
1623,tt0375173,60000000,13395939,Alfie,Jude Law|Marisa Tomei|Omar Epps|Jane Krakowski...,Charles Shyer,Meet a man who never met a woman he didn't love.,"In Manhattan, the British limousine driver Alf...",103,Comedy,Paramount Pictures|Patalex Productions,10/22/2004,5.4,2004,-46604061
1631,tt0315297,50000000,25195000,Twisted,Ashley Judd|Samuel L. Jackson|Andy GarcÃ­a|Dav...,Philip Kaufman,Every murder has a mark.,Recently promoted and transferred to the homic...,97,Action|Adventure|Crime|Drama|Thriller,Paramount Pictures|Kopelson Entertainment|Harl...,2/27/2004,5.7,2004,-24805000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
730,tt1229238,145000000,694713380,Mission: Impossible - Ghost Protocol,Tom Cruise|Jeremy Renner|Simon Pegg|Paula Patt...,Brad Bird,No Plan. No Backup. No Choice.,In the 4th installment of the Mission Impossib...,133,Action|Thriller|Adventure,Paramount Pictures|Skydance Productions|Bad Ro...,12/7/2011,6.7,2011,549713380
1738,tt0418279,150000000,709709780,Transformers,Shia LaBeouf|Josh Duhamel|Megan Fox|Rachael Ta...,Michael Bay,Their war. Our world.,"Young teenager, Sam Witwicky becomes involved ...",144,Adventure|Science Fiction|Action,Paramount Pictures|DreamWorks SKG|Amblin Enter...,6/27/2007,6.6,2007,559709780
603,tt0367882,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Lucasfilm|Paramount Pictures,5/21/2008,5.6,2008,601636033
317,tt1055369,150000000,836297228,Transformers: Revenge of the Fallen,Shia LaBeouf|Megan Fox|Josh Duhamel|Rainn Wils...,Michael Bay,Revenge is coming,Sam Witwicky leaves the Autobots behind for a ...,150,Science Fiction|Action|Adventure,Paramount Pictures|DreamWorks SKG|Amblin Enter...,6/19/2009,6.0,2009,686297228
828,tt1399103,195000000,1123746996,Transformers: Dark of the Moon,Shia LaBeouf|John Malkovich|Ken Jeong|Frances ...,Michael Bay,The invasion we always feared. An enemy we nev...,Sam Witwicky takes his first tenuous steps int...,154,Action|Science Fiction|Adventure,Paramount Pictures|Di Bonaventura Pictures|Has...,6/28/2011,6.1,2011,928746996

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [56]:
answers['19'] = '2015'
# +

In [91]:
imdb.groupby(['release_year']).sum().sort_values(['revenue'],ascending=False)

                  budget      revenue  runtime  vote_average       profit
release_year
2015          6780630004  25449202382    13355         755.2  18668572378
2014          7008050000  23405862953    13444         774.5  16397812953
2013          7970620000  23213799791    15039         846.9  15243179791
2012          7002000000  23079001687    12145         682.1  16077001687
2011          7946550531  22676791872    15355         868.5  14730241341
2010          7540000000  21071204961    13592         762.1  13531204961
2009          6838046652  20261791024    14187         800.2  13423744372
2008          6588900000  18252781990    12979         731.1  11663881990
2007          6596495000  18162406801    14305         809.3  11565911801
2004          6029250000  15663430720    12014         671.3   9634180720
2005          6327500000  15309425558    13387         733.5   8981925558
2006          6083965000  14775042320    13952         775.4   8691077320
2003          5117300000  14346123312    10623         574.4   9228823312
2002          5134000000  14136361487    11528         653.1   9002361487
2001          5067150000  13017764865    11284         619.8   7950614865
2000          4562700000  10664099805     9956         542.5   6101399805

# 20. Какой самый прибыльный год для студии Warner Bros?

In [57]:
answers['20'] = '2014'
# +

In [92]:
imdb_w=imdb[imdb.production_companies.str.contains('Warner Bros')]
imdb_w.groupby(['release_year']).sum().sort_values(['profit'],ascending=False)

                  budget     revenue  runtime  vote_average      profit
release_year
2014           947600000  3243064519     1576          88.9  2295464519
2007           982000000  3183675217     1721          95.4  2201675217
2008           916000000  3050595031     1366          72.0  2134595031
2010          1034000000  3008712985     1421          79.6  1974712985
2011           974000000  2845393682     1248          68.3  1871393682
2003           890000000  2745493377     1085          56.7  1855493377
2009           915500000  2737954136     1305          67.9  1822454136
2013           963500000  2599953400     1100          59.9  1636453400
2004          1100000000  2731933725     1624          78.7  1631933725
2005           861000000  2412980298     1193          63.0  1551980298
2001           923000000  2266545668     1571          83.6  1343545668
2012           611500000  1869520056      579          30.0  1258020056
2002           680000000  1702709901     1281          70.6  1022709901
2015           820800003  1691168351     1358          75.9   870368348
2006           901000000  1521170743     1504          81.0   620170743
2000           572900000  1025531386     1333          68.0   452631386

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [58]:
answers['21'] = 'Сентябрь'
# +

In [94]:
imdb_month=imdb.copy()
imdb_month.release_date=imdb_month.release_date.apply(lambda x:x.split('/'))
imdb_month['month']=imdb_month.release_date.apply(lambda x:x[0])
m=imdb_month.groupby(['month']).count().sort_values(['original_title'],ascending=False)
m

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
month,,,,,,,,,,,,,,,
9,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227
12,190,190,190,190,190,190,190,190,190,190,190,190,190,190,190
10,186,186,186,186,186,186,186,186,186,186,186,186,186,186,186
8,161,161,161,161,161,161,161,161,161,161,161,161,161,161,161
3,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156
4,149,149,149,149,149,149,149,149,149,149,149,149,149,149,149
6,147,147,147,147,147,147,147,147,147,147,147,147,147,147,147
11,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146
7,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142
5,140,140,140,140,140,140,140,140,140,140,140,140,140,140,140
2,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135
1,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [59]:
answers['22'] = '450'
# +

In [95]:
# Сортировка месяцев для удобства счета. Сумма 6+7+8
m.sort_values(['month'])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
month,,,,,,,,,,,,,,,
1,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110
10,186,186,186,186,186,186,186,186,186,186,186,186,186,186,186
11,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146
12,190,190,190,190,190,190,190,190,190,190,190,190,190,190,190
2,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135
3,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156
4,149,149,149,149,149,149,149,149,149,149,149,149,149,149,149
5,140,140,140,140,140,140,140,140,140,140,140,140,140,140,140
6,147,147,147,147,147,147,147,147,147,147,147,147,147,147,147
7,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142
8,161,161,161,161,161,161,161,161,161,161,161,161,161,161,161
9,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227

# 23. Для какого режиссера зима – самое продуктивное время года?

In [60]:
answers['23'] = 'Peter Jackson'
# +

In [97]:
imdb_d=imdb.copy()
imdb_d.release_date=imdb_d.release_date.apply(lambda x:x.split('/'))
imdb_d['month']=imdb_d.release_date.apply(lambda x:x[0])
imdb_w=imdb_d[(imdb_d.month=='12')|(imdb_d.month=='1')|(imdb_d.month=='2')]
imdb_w.director=imdb_w.director.apply(lambda x:x.split('|'))
imdb_w=imdb_w.explode('director')
imdb_w.groupby(['director']).count().sort_values(['original_title'],ascending=False)

C:\Users\dbezu\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,imdb_id,budget,revenue,original_title,cast,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
director,,,,,,,,,,,,,,,
Peter Jackson,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
Steven Soderbergh,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
Clint Eastwood,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
Shawn Levy,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
Adam Shankman,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
John Luessenhop,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
John Musker,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
John Polson,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Callan Brunker,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Xavier Palud,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [64]:
answers['24'] = 'Four By Two Productions'
# +

In [98]:
imdb_s=imdb.copy()
imdb_s.production_companies=imdb_s.production_companies.str.split('|')
imdb_s=imdb_s.explode('production_companies')
imdb_s['length']=imdb_s.original_title.apply(lambda x:len(x))
imdb_s.groupby(['production_companies']).mean().sort_values(['length'],ascending=False)

,budget,revenue,runtime,vote_average,release_year,profit,length
production_companies,,,,,,,
Four By Two Productions,18000000.0,261572744.0,82.0,6.4,2006.0,243572744.0,83.0
"Jim Henson Company, The",28000000.0,100654149.0,81.0,6.2,2014.0,72654149.0,59.0
Dos Corazones,12000000.0,9622846.0,145.0,6.8,2012.0,-2377154.0,47.0
Polsky Films,25000000.0,10589102.0,122.0,5.8,2009.0,-14410898.0,46.0
Museum Canada Productions,150000000.0,413106170.0,105.0,5.9,2009.0,263106170.0,46.0
...,...,...,...,...,...,...,...
Everest Entertainment,10000000.0,21587700.0,130.0,6.9,2013.0,11587700.0,3.0
Berlanti Productions,150000000.0,128388320.0,111.0,5.9,2015.0,-21611680.0,3.0
Global Entertainment Group,25100000.0,29506464.0,131.0,5.6,2008.0,4406464.0,2.0
XM2 Productions,110000000.0,214948780.0,133.0,6.7,2003.0,104948780.0,2.0
Ixtlan Productions,25100000.0,29506464.0,131.0,5.6,2008.0,4406464.0,2.0

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [63]:
answers['25'] = 'Midnight Picture Show'
# +

In [99]:
imdb_st=imdb.copy()
imdb_st.production_companies=imdb_st.production_companies.str.split('|')
imdb_st=imdb_st.explode('production_companies')
imdb_st.overview=imdb_st.overview.str.split(' ')
imdb_st['count']=imdb_st.overview.apply(lambda x:len(x))
imdb_st.groupby(['production_companies']).mean().sort_values(['count'],ascending=False)

,budget,revenue,runtime,vote_average,release_year,profit,count
production_companies,,,,,,,
Midnight Picture Show,15000000.0,3533227.0,98.0,5.7,2008.0,-11466773.0,175.0
Heineken Branded Entertainment,150000000.0,738599701.0,138.0,6.6,2003.0,588599701.0,161.0
Room 9 Entertainment,6500000.0,24793509.0,92.0,7.1,2005.0,18293509.0,161.0
98 MPH Productions,20000000.0,75597042.0,127.0,6.0,2002.0,55597042.0,159.0
Brookwell-McNamara Entertainment,18000000.0,47088990.0,106.0,6.9,2011.0,29088990.0,156.0
...,...,...,...,...,...,...,...
Henceforth,25000000.0,4644108.0,103.0,5.5,2010.0,-20355892.0,13.0
Our Stories Films,6600000.0,37710610.0,112.0,6.3,2011.0,31110610.0,13.0
London Boulevard,25000000.0,4644108.0,103.0,5.5,2010.0,-20355892.0,13.0
Motion Picture Corporation of America,20000000.0,8586376.0,94.0,4.5,2002.0,-11413624.0,11.0
Empire Pictures,75000000.0,67631903.0,123.0,6.1,2001.0,-7368097.0,11.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [65]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
# +

In [100]:
# 19 ~ 1% от общего количества фильмов в датасете
imdb.sort_values(['vote_average'],ascending=False).head(19)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,30723096
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,665500000
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,85072577
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,144600318
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara...,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,Romance|Science Fiction|Drama,Annapurna Pictures,12/18/2013,7.8,2013,24351251
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,11/6/2015,7.8,2015,68346473
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,10/24/2014,7.8,2014,487105443
177,tt2582846,12000000,305151265,The Fault in Our Stars,Shailene Woodley|Ansel Elgort|Nat Wolff|Laura ...,Josh Boone,One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment|TS...,5/16/2014,7.8,2014,293151265
863,tt0167261,79000000,926287400,The Lord of the Rings: The Two Towers,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,A New Power Is Rising.,Frodo and Sam are trekking to Mordor to destro...,179,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,12/18/2002,7.8,2002,847287400

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [66]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'
# +

In [102]:
from itertools import combinations
import collections
imdb_c=imdb.copy()
imdb_c['cast']=imdb_c.cast.str.split('|')
imdb_c['cast_1'] = imdb_c['cast'].apply(lambda x: list(combinations(x,2)))
imdb_c=imdb_c.explode('cast_1')
collections.Counter(imdb_c['cast_1']).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

ВАРИАНТ 2

# Submission

In [103]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '25': 'Midnight Picture Show',
 '24': 'Four By Two Productions',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [104]:
# и убедиться что ни чего не пропустил)
len(answers)

27